<div class="page-wrapper">
  <header class="header">
    <h1 class="main-caption">ngx-translate</h1>
    <nav class="navigation">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page"
        >Homepage</a
      >
      <a
        routerLink="/details"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Details</a
      >
    </nav>
    <select class="language-switch">
      <option>EN</option>
      <option>TR</option>
    </select>
  </header>
  <router-outlet></router-outlet>
</div>
