.page-wrapper {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: "wrap";
  width: 100%;
}

.navlink {
  padding: 0.5rem 1rem;
  margin-left: 0.25rem;
  border-radius: 1rem;
  text-decoration: none;
  background: purple;
  color: white;
}

.active-link {
  background: white;
  color: inherit;
  border: 1px solid black;
}

.language-switch {
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
  text-align: center;
  background: purple;
  color: white;
}
