<div class="page-wrapper">
  <header class="header">
    <h1 class="main-caption">ngx-translate</h1>
    <nav class="navigation">
      <a
        class="navlink"
        routerLink=""
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
        >Home</a
      >
      <a
        class="navlink"
        routerLink="/details"
        routerLinkActive="active-link"
        ariaCurrentWhenActive="page"
        >Details</a
      >
    </nav>
    <select class="language-switch">
      <option>EN</option>
      <option>TR</option>
    </select>
  </header>
  <router-outlet></router-outlet>
</div>
